.center {
    text-align: center;
    line-height: 4em;
    font-weight: bold;
}
footer{
    clear: both;
    text-align: center;
}
a{
    margin: 50px;
}
hr{
    background-color: black;
    size: 4cm;
}