$font-h: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$font-text:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$primary-border:rgb(0, 0, 0);
$second-border:rgb(97, 64, 115);
$primary-color:rgb(243, 166, 204);
$second-color: lightyellow;